<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        ">

    <bean id="student1" primary="true" class="io.kimmking.spring.bean.common.domain.Student">
        <property name="id" value="1" />
        <property name="name" value="KK1" />
    </bean>

    <bean id="student2" class="io.kimmking.spring.bean.common.domain.Student">
        <property name="id" value="2" />
        <property name="name" value="KK2" />
    </bean>
</beans>